* {
    
}

header, footer{
    background-color: #142f86;
}

h1 {
    text-align: center;
    margin: auto;
}

section {
    height: 2000px;
}

footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.navBar {
    list-style: none;
    float: right;

}

.sticky {
    position: fixed;
    width: 100%;
    padding-left: 80%;
  }

.listItem {
    display: inline-block;
    padding: 5px;
}